<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 col-md-5 intro">
        <div class="top ">
          <img src="{{ site.avatar_url }}" alt="SPOJ Avatar">
          <h1>Marie Curie Olympiad in Informatics</h1>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-md-3">
        <h3 class="">Navigation</h3>
        <div class="navigation">
          <div class="link ">
            <a href="{{ site.baseurl }}/">Home</a>
          </div>
          {% for i in site.urls %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="end text-center">
    <span class="">
      Made with <i class="fa fa-heart" style="color: #eb0025"></i> by
      <a href="{{ site.github }}">{{ site.author }}</a>.
    </span>
    <span class="">All rights reserved.</span>
  </div>
</footer>